{extend name="public/base" /}
{block name="title"}登录{/block}
{block name="css"}
<style>
    .childrenBody{ height:100%;}
    .childrenBody{ background-color:#ccc;}
    .childrenBody form.layui-form{ padding:0 20px; width:400px; height:300px; position:absolute; left:50%; top:50%; margin:-150px 0 0 -200px; -webkit-box-sizing:border-box;-moz-box-sizing:border-box; -o-box-sizing:border-box; box-sizing:border-box; background:#fff;-webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; box-shadow:0 0 50px #009688;}
</style>
{/block}
{block name="main"}
<form class="layui-form" action="" method="post">
    <div class="layui-form-item" style="margin-top: 20px;">
        <input type="text" name="mobile" class="layui-input" lay-verify="required" placeholder="手机号码">
    </div>
    <div class="layui-form-item">
        <input type="password" name="pwd" class="layui-input" lay-verify="required" placeholder="密码">
    </div>
    <div class="layui-form-item">
        <div  class="layui-btn layui-block mylogin" style="width: 100%;">登录</div>
    </div>
    <div class="layui-form-item">
       <span>还没有账号？<a href="/chart/login/register" style="color:#0958ec;">立即注册</a></span>
    </div>
</form>
{/block}

{block name="script"}
<script>
    layui.use(['form'], function(){
        var form = layui.form


        //提交
        $(document).on('click','.mylogin',function(){
            var mobile = $(" input[ name='mobile' ] ").val();
            var pwd = $(" input[ name='pwd' ] ").val();
            if(!mobile){
                layer.msg('手机号不能为空',{time:2000});
                return false;
            }
            if(!pwd){
                layer.msg('密码不能为空',{time:2000});
                return false;
            }
            $.post('/chart/login/doLogin',{mobile:mobile,password:pwd},function(data){
                data = eval("("+data+")");
                return false;
                layer.msg(data.msg,{time:2000});
                if(data.code ==100){
                    setTimeout(function(){
                        window.location.href='/chart/index/index';
                    },2000);
                }else if(data.code ==101){
                    setTimeout(function(){
                        window.location.href='';
                    },2000);
                    return false;
                }
            });
        });



    });
</script>
{/block}