{extend name="public/base" /}
{block name="title"}登录{/block}
{block name="css"}
<style>
    .childrenBody{ height:100%;}
    .childrenBody{ background-color:#ccc;}
    .childrenBody form.layui-form{ padding:0 20px; width:400px; height:300px; position:absolute; left:50%; top:50%; margin:-150px 0 0 -200px; -webkit-box-sizing:border-box;-moz-box-sizing:border-box; -o-box-sizing:border-box; box-sizing:border-box; background:#fff;-webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; box-shadow:0 0 50px #009688;}
    #imgCode{ position:relative;}
    #imgCode div{ position:absolute; top:1px; right:1px; cursor:pointer;}
</style>
{/block}
{block name="main"}
<form class="layui-form" action="" method="post">
    <div class="layui-form-item" style="margin-top: 20px;">
        <input type="text" name="account" class="layui-input" lay-verify="required" placeholder="用户名">
    </div>
    <div class="layui-form-item">
        <input type="password" name="pwd" class="layui-input" lay-verify="required" placeholder="密码">
    </div>
    <div class="layui-form-item">
        <div  class="layui-btn layui-block mylogin" style="width: 100%;">登录</div>
    </div>
    <div class="layui-form-item">
       <span>还没有账号？<a href="/chart/login/register" style="#0958ec;">立即注册</a></span>
    </div>
</form>
{/block}

{block name="script"}

{/block}