{extend name="public/base" /}
{block name="title"}{/block}

{block name="main"}
<blockquote class="layui-elem-quote quoteBox">
    <form class="layui-form"  action="" method="post">
        <div class="layui-inline">
            <div class="layui-input-inline">
                <input type="text" value="23" name="keyword" class="layui-input" placeholder="请输入搜索的内容" />
            </div>
            <a class="layui-btn search_btn" lay-submit  lay-filter="reload" >搜索</a>
        </div>
        <div class="layui-inline">
            <a href="javascript:;" class="layui-btn layui-btn-normal addTopMenu">添加顶级节点</a>
        </div>
    </form>
</blockquote>
<!--列表-->
<form class="layui-form">
    <table class="layui-table" cellspacing="0" cellpadding="0" border="0">
        <thead>
        <tr>
            <th>账号</th>
            <th>姓名</th>
            <th>手机</th>
            <th>角色</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {if condition="$lists['total'] eq 0 "}
        <tr class="td_center"><td colspan="4">暂无数据</td></tr>
        {/if}
        {volist name="lists.lists" id="v"}
        <tr>
            <td class="td_left">{$v['account']}</td>
            <td class="td_left">{$v['name']}</td>
            <td class="td_left">{$v['mobile']}</td>
            <td class="td_left">{$v['groupid']}</td>
            <td class="td_center">
                <a href="javascript:;" class="editNode layui-btn layui-btn-xs">修改</a>&nbsp;&nbsp;
                <a href="javascript:;" class="delNode layui-btn layui-btn-danger layui-btn-xs">删除</a>
            </td>
        </tr>
        {/volist}
        </tbody>
    </table>
</form>
<!--列表E-->

{/block}

{block name="script"}
<script>
    layui.use(['layer','form'], function(){
        var layer = layui.layer;
        var form = layui.form;

        $('.addTopMenu').click(function(){
            var index = layer.open({
                title : false,
                type : 2,
                content : ['/home/adminuser/add/'],
                end:function(){
                    location.reload();
                }
            })
            layer.full(index);
        });
        //修改节点
        $(document).delegate('.editNode','click',function(){
            var This = $(this);
            var id = $(this).parents('.nodelist').data('id');
            var index = layer.open({
                title : false,
                type : 2,
                content : ['/home/menu/edit/id/'+id],
                end:function(){
                    location.reload();
                }
            });
            layer.full(index);
        });
        //删除节点
        $(document).delegate('.delNode','click',function(){
            var This = $(this);
            layer.confirm('您确定要删除当前节点？',function(){
                var id = This.parents('.nodelist').data('id');
                $.post('/home/menu/del',{'id':id},function(data){
                    layer.msg(data.msg);
                    if(data.code==100) This.parents('.nodelist').remove();
                },'json');
            });
        });
    });
</script>
{/block}