<!DOCTYPE html>
<html class="loginHtml">
<head>
    <meta charset="utf-8">
    <title>登录--layui后台管理模板 2.0</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="/static/layui/css/layui.css" media="all" />
    <link rel="stylesheet" href="/static/home/css/public.css" media="all" />
    <script type="text/javascript" src="/static/home/js/jquery.js"></script>
    <script type="text/javascript" src="/static/layui/layui.js"></script>
</head>
<body class="loginBody">
<form class="layui-form">
    <div class="layui-form-item" style="margin-top: 20px;">
        <input type="text" name="menuurl" class="layui-input" lay-verify="required" placeholder="请输入用户名">
    </div>
    <div class="layui-form-item">
        <input type="text" name="menuurl" class="layui-input" lay-verify="required" placeholder="请输入密码">
    </div>
    <div class="layui-form-item input-item" id="imgCode">
        <input type="text" placeholder="请输入验证码" autocomplete="off" id="code" class="layui-input">
        <input class="layui-btn layui-btn-primary" type="button" value="获取验证码">
    </div>
    <div class="layui-form-item">
        <button class="layui-btn layui-block" lay-filter="login" lay-submit>登录</button>
    </div>
</form>
</body>
</html>