{extend name="public/base" /}
{block name="title"}添加节点{/block}

{block name="main"}
<div class="layui-tab" id="Js_title_navigation">
    <ul class="layui-tab-title">
        <li class="layui-this">{$pid==0?'添加顶级节点':'添加节点'}</li>
    </ul>
</div>
<form class="layui-form layui-row" action="">
    <input type="hidden" name="pid" value="{$pid}" />
    <div class="layui-col-xs12 layui-col-sm8">
        <div class="layui-form-item">
            <label class="layui-form-label">上级节点：</label>
            <div class="layui-form-mid">
                {$menuinfo['menuname']}
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">节点名称：</label>
            <div class="layui-input-inline">
                <input type="text" name="menuname" class="layui-input" lay-verify="required" placeholder="请输入节点名称">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">节点：</label>
            <div class="layui-input-inline">
                <input type="text" name="menuurl" class="layui-input" lay-verify="required" placeholder="请输入节点路径">
                <span style="color: #ff0;">如：/home/menu/add</span>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">节点备注：</label>
            <div class="layui-input-inline">
                <input type="text" name="remark" class="layui-input" placeholder="请输入节点备注">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit="" lay-filter="savemenu">立即提交</button>
                <a href="javascript:;" class="layui-btn layui-btn-primary closeBtn">取消</a>
            </div>
        </div>
    </div>
</form>
{/block}

{block name="script"}
<script>
layui.use(['form'], function(){
    var form = layui.form;
    var index = parent.layer.getFrameIndex(window.name);
    form.on('submit(savemenu)',function(obj){
        $.post('/home/menu/add',obj.field,function(data){
            layer.msg(data.msg);
            if(data.code==1){
                setTimeout(function(){
                    location.reload();
                },1000);
            }
        },'json');
        return false;
    });
    $('.closeBtn').click(function(){
        console.log(2313132);
        parent.layer.close(index);
    });
});
</script>
{/block}